/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
@media (max-width:1125px){
    .navbar{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .conainer{
        padding: 0 20px;
    }
   
}

@media (max-width:1100px){
    .menu-box-01 {
        width: 466px;
     
    }
    .button{
        width:80px;
    }
    
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .box-01{
        width: 460px;
    }
    .menu-box-p-01{
        padding-left: 20px;
        max-width: 500px;
        width: 100%;
    }
    .left-block-03 {
        max-width: 500px;
        width: 100%;
    }
    .left-block-03 {
        max-width: 450px;
        width: 100%;
    }
    .left-block-par-03{
        font-size: 30px;
    }
    .picture-box{
        margin-left: 40px;
    }
    .imae-01,
    .image-02 {
        width: 436px;
        
    }
    .image-large{
        width: 536px;
    }
    .image-03{
        width: 100%; 
    }
    .image-walpaper{
        margin-left: 40px;
    }
    .left-block-par-03{
        width: 450px;
    }
    .rest-right-box{
        margin-left: 40px;
    }
    .left-p{
        width: 436px;
        font-size: 35px;
    }
    .rest-menu-h3{
        font-size: 35px;
    }
    .rest-right-h3{
        font-size: 35px;
    }
    .form-title{
        font-size: 38px;
    }
    .contact-left{
        margin-right: 30px;
    }
    .secend-form-box {
        margin: 0 30px;
    }
    .form-btn{
        margin-left: 30px;
    }
    .photos-titile-h3{
        font-size: 35px;
    }
    .photo-box-01,
    .photo-box-02,
    .photo-box-03{
        width: 420px;
        
        
    }
    .photo-box-02{
        margin: 0 30px;
    }
    .photo-box-image-01,
    .photo-box-image-02,
    .photo-box-image-03{
        width: 100%;
    }
    .footer-box-02{
        margin-right: 20px;
    }
    .box-01 {
        margin-left: 20px;
    }
    .box-01-par{
        padding: 5 10px;
    }
    .box-01-p{
        font-size: 15px;
    }
    .image-walpaper{
        width: 500px;
    }
    .walpaper-image-03{

        width: 100%;
    }
    .rest-menu-wrapper{
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    }
    .left-block-par-03{
        max-width: 512px;
        width: 100%;
        
    }
    .contact-left{
        margin-right: 15px;
    }
}
@media (max-width:1048px){
    .rest-iamge-02,
    .rest-image-03{
        width: 100%;
    }
    .img-01{
        width: 200px;
    }
    .imae-01,
    .image-02 {
      width: 240px;
     
    }
    .image-large{
        width:500px;
    }
    .box-01-par{
       margin: 10px;
    }
    .block-wrappers{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .box-01{
        max-width:400px;
        width: 100%;
        margin-bottom: 20px;
       
    }
    .box-01-par{
        font-size: 15px;
    }
    .block-title-par{
        margin-left: 10px;
    }
    .warpper-form{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;  

    }
    .theerd-form {
        max-width: 500px;
        width: 100%;
    }
    .secend-form-box{
        margin: 0;
    }
    .input-second,
    .input-first,
    .therd-input{
        width: 350px;
    }
    .form-btn{
        margin: 0;
        margin-top: 10px;
        width:350px;
        -ms-flex-item-align: start;
            align-self: flex-start;
        
        
    }
    .firs-form-box{
        margin-bottom: 10px;
    }
   
    
}
@media (max-width:1010px){
    .menu-box-01{
        width: 430px;
    }
    .menu-img-01{
        width: 160px;
    }
    .menu-h3-title{
        font-size: 14px;
    }
    .menu-food{
        font-size: 12px;
    }
    .menu-img-01{
        width: 150px;
    }
    .menu-text-p{
        margin-right: 10px;
    }
    .rest-image-02,
    .rest-image-03{
      width: 200px;
    }
    .rest-right-h3{
        font-size: 35px;
    }
    .rest-box-par-01,
    .rest-box-par-02{
        font-size: 13px;
    }
    .btn{
        width: 150px;
    }
    .left-block-p{
        font-size: 14px;
    }
    .left-p{
        width: 100%;
        font-size: 30px;
    }
    .photos-titile-h3{
        font-size: 35px;
    }
    .form-title{
        font-size: 35px;
    }
}
@media (max-width:906px){
   
    .theerd-form {
        max-width: 350px;
    }
    

   
    
    .left-block-03{
        padding-bottom: 30px;
    }
    .left-block-par-03{
        font-size: 25px;
    }
    .walpaper-image-03{
        width: 375px;
    }
    .form-btn{
        margin-top: 17px;
    }
    .photos-titile-h3{
        font-size: 30px;
    }
}
@media (max-width:960px){
    .imae-01,
    .image-02,
    .img-01 {
        width: 220px;
    }
    .image-03,
    .image-large{
        width: 455px;
    }

}
@media (max-width:920px){
    .menu-box-01{
        width: 400px;
    }
    .box-01{
        max-width: 370px;
        width: 100%;
    }
    .rest-right-h3{
        font-size: 30px;
    }
    .rest-right-box{
        max-width: 400px;
        width: 100%;
    }
}
@media (max-width:862px){
    .menu-box-01{
        width: 385px;
    }
    .img-01,
    .image-02,
    .imae-01{
        width: 200px;
    }
    .image-03,
    .image-large{
        width: 415px;
    }
    .box-01{
        max-width: 350px;
        width: 100%;
    }
}
@media(max-width:830px){
    .menu-box-01 {
        max-width: 360px;
        width: 100%;
    }
    .section-01-left{
        max-width: 400px;
        width: 100%;
    }
    .left-block-p,
    .left-block-par{
        font-size: 12px;
    }
    .read{
        max-width: 170px;
        width: 100%;
        height: auto;
       
    }
    .rest-box-par-02,
    .rest-box-par-01{
       font-size: 10px;
    }
    .btn{
        max-width: 140px;
        width: 100%;
        height: auto;
        padding: 15px 0;
    }
}
@media (max-width:795px){
        .box-01 {
            max-width: 280px;
            width: 100%;
        }
        .left-block-h3{
            font-size: 12px;
        }
        .left-block-par-03{
            font-size: 20px;
        }
        .left-block-p{
            font-size: 12px;
        }
        .left-block-par{
            font-size: 12px;
        }
        .read{
            width: 150px;
            height: 40px;
           
        }
        .menu-box-01{
            width: 330px;
        }
        .footer-box-01{
            margin: 0 35px;
        }
        .section-box-01{
            margin-right: 10px;
        }
        .section-box-p{
            font-size: 11px;
            max-width: 170px;
            width: 100%;
        }
        .footer-childe-li{
            font-size: 12px;
        }
        .career-li,
        .blog-li,
        .footer-box-title,
        .footer-box-title-02,
        .section-box-title-h3,
        .section-box-title{
            font-size: 13px;
        }
        .soc-icon{
            font-size: 25px;
        }
        .footer-p{
            font-size: 13px;
        }
        .input-second,
        .form-btn,
        .therd-input,
        .input-first{
            width: 330px;
        }
        .rest-image-02{
            width: 200px;
        }
        .rest-image-02,
        .rest-image-03{
            width: 180px;
        }
        .rest-box-par-01,
        .rest-box-par-02{
            font-size: 11px;
        }
        .btn{
            width: 130px;
            height: 40px;
        }
        .button{
            width: 60px;
            height: 30px;
        }
        .con-input-01,
        .cont-btn{
            width: 330px;
            height: 50px;
        }
        .textarea-wrapper{
            max-width: 350px;
            width: 100%;
            height: 250px;

        }
        .menu-text-p{
            font-size: 12px;
        }
        .menu-h3-title{
            font-size: 13px;
        }

}
@media(max-width:780px){
    .img-01{
        max-width: 200px;
        width: 100%;
    }
    .imae-01,
    .image-02{
        width: 180px;
    }
    .image-03{
        width: 375px;
    }
    .image-large{
        max-width: 375px;
        width: 100%;
    }
    .btn{
        width: 120px;
        height: auto;
        padding: 10px 0;
    }
    .rest-right-box{
        margin-top: 20px;
    }
   .rest-right-h3{
       font-size: 25px;
   }
   .menu-box-01 {
       max-width: 350px;
       width: 100%;
   }
}
@media (max-width:765px){
    .menu-box-01{
        max-width: 340px;
        width: 100%;
    }
    .rest-menu-h3{
        font-size: 30px;
        max-width: 400px;
        width: 100%;
    }
}
@media (max-width:735px){
    .input-first,
    .therd-input,
    .input-second,
    .form-btn,
    .con-input-01,
    .cont-btn{
        width: 300px;
    }
    .menu-box-01 {
        width: 300px;
    }
    .menu-img-01{
        width: 130px;
    }
    .box-01{
        max-width: 250px;
    }
    .box-01-pa{
        font-size: 11px;
    }
    .box-01-p{
        font-size: 14px;
        color: inherit;
    }
    .photos-titile-h3{
        font-size: 25px;
        max-width: 450px;
        width: 100%;
    }
    .wrapper-box-05{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .section-box-02{
        width: 300px;
        margin-bottom: 50px;
    }
    .footer-box-02{
        width: 200px;
        margin-right: 100px;
    }
    .footer-box-01{
        margin-left: 10px;
    }
    .footer-p {
        font-size: 12px;
        
    }
    .about-h2{
        font-size: 35px;
    }
    
    .left-p{
        font-size: 25px;
    }
    .left-block-p,
    .left-block-par{
        font-size: 11px;
    }
    .block-title-par{
        font-size: 33px;
    }
    .block-title-h3{
        font-size: 12px;
        margin-left: 10px;
    }
}
@media (max-width:725px){
    .rest-right-h3{
        font-size: 20px;
    }
}
@media (max-width:705px){
    .input-second,
    .input-first,
    .therd-input,
    .form-btn{
        width: 250px;
    }
    .left-block-par-03{
        font-size: 18px;
    }
    .text-block-03-p{
        font-size: 14px;
        margin-top: 10px;
    }
    .text-block-par-03{
        font-size: 12px;
    }
}
@media (max-width:680px){
    .text-block-par-03{
        font-size: 12px;
    }
    .left-block-par-03{
        font-size: 15px;
    }

}
@media (max-width:696px){
    .left-p{
        font-size: 25px;
    }
    .imae-01,
    .image-02{
        width: 160px;
    }
    .image-03{
        width: 335px;
    }
    .rest-right-h3{
        font-size: 17px;
    }
    .rest-right-p{
        font-size: 12px;
    }
}
@media (max-width:665px){
    .menu-box-01{
        width: 290px;
    }
    .menu-text-p{
        padding-bottom: 10px;
    }
    .rest-menu-h3{
        font-size: 20px;
        max-width: 300px;
        width: 100%;
    }
    .res-menu-p{
        font-size: 12px;
    }
    .theerd-form{
        max-width: 260px;
        width: 100%;
    }
    .image-walpaper{
        width: 400px;
    }
    .left-block-h3{
        font-size: 11px;
    }
    .rest-image-02{
        width: 120px;
    }
    .rest-image-03,
    .rest-image-02{
        width: 120px;
    }
    .rest-right-box{
        max-width: 400px;
        width: 100%;
    }
    .rest-right-h3{
        font-size: 20px;
    }
    .rest-right-p{
        font-size: 12px;
    }
    .btn{
        width: 120px;

    }
    .rest-picture-box {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .rest-image-02{
        margin-bottom: 0px;
    }
    .rest-image-03{
        margin-top: 5px;
    }
    .photos{
        font-size: 12px;
    }
    .left-block-03 {
        padding-top: 50px;
    }
}
@media (max-width:655px){
    .imae-01,
    .image-02{
        width: 150px;
    }
    .image-03{
        width: 315px;
    }
    .rest-right-box{
        max-width: 350px;
        width: 100%;
    }
    .rest-right-h3{
        font-size: 25px;
    }
    .contact-firs-label {
        max-width: 260px;
        width: 100%;
    }
    .con-input-01{
        width: 100%;
    }
    .cont-btn{
        max-width: 260px;
        width: 100%;
    }
    .image-walpaper{
        max-width: 500px;
        width: 100%;
    }
    .walpaper-image-03{
        width: 100%;
    }
    .left-block-03 {
        max-width: 400px;
        width: 100%;
    }
    .left-block-03 {
        padding-top: 30px;
    }
    .left-p{
        font-size: 20px;
    }
    .read{
        width: 130px;
    }
    .section-01-title{
        font-size: 12px;
    }
}
@media (max-width:640px){
    .menu-box-01{
        max-width: 280px;
    }
    .menu-text-p{
        font-size: 10px;
    }
    .menu-h3-title{
        font-size: 11px;
    }
    .menu-food{
        font-size: 11px;
    }
   
}
@media (max-width:630px){
    .section-wrapper{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .picture-box{
        margin: 0;
        max-width: 400px;
        width: 100%;
    }
    .section-01-left{
        margin-top: 20px;
    }
    .section-03-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .image-walpaper{
        margin-left: 20px;
    }
    .rest-section-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .rest-right-box{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .rest-picture-box {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
    }
    .block-wrappers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .rest-menu-wrapper,
    .warpper-form,
    .contact-form,
    .contact-info-wrapper,
    .photo-box ,
    .wrapper-box-05 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }
    .form-btn{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .section-01-left{
        width: 100%;
        
       
    }
    .image-large{
        max-width: 315px;
        width: 100%;
        margin: 0;
        padding-top: 10px;
    }
    .image-03{
        width: 100%;
    }
    .imae-01{
        width: 100%;
        margin-bottom: 10px;
    }
    .image-02{
        width: 100%;
    }
    .picture-box{
        width: 100%;
    }
    .img-01 {
        max-width: 315px;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    .left-block-p,
    .left-block-par,
    .left-p{
        max-width: 315px;
        width: 100%;
    }
    .left-p{
        font-size: 30px;
    }
    .box-01{
        max-width: 315px;
        width: 100%; 
    }
    
    .rest-image-02,
    .rest-image-03{
        width: 100%;
    }
    .rest-right-box{
        max-width: 300px;
        width: 100%;
    }
    .rest-box-par-01,
    .rest-box-par-02{
        font-size: 12px;
    }
    .firs-form-box,
    .secend-form-box{
        max-width: 260px;
        width: 100%;
    }
    .form-btn{
        max-width: 250px;
        width: 100%;
        margin-right: 10px;
    }
    .menu-img-01{
        max-width: 120px;
        width: 100%;
        
    }
    .menu-box-01{
        max-width: 270px;
        width: 100%;
    }
    .contact-left{
        max-width: 260px;
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-right:100px;
    }
    .contact-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .form-title{
        font-size: 30px;
    }
    .con-blue-box{
        margin: 25px 0;
    }
    .theerd-form {
        margin-top: 10px;
    }
    .info-box-01 {
        margin-right: 100px;
    }
    .photo-box-01,
    .photo-box-image-01,
    .photo-box-image-02,
    .photo-box-image-03,
    .photo-box-03,
    .photo-box-03{
        max-width: 420px;
        width: 100%;
    }
    .photo-box-02{
        margin: 20px 0;
    }
    .section-box-01,
    .section-box-02,
    .footer-box-01,
    .footer-box-02{
        max-width: 260px;
        width: 100%;
        margin: 0;
    }
    .section-box-02,
    .footer-box-02{
        margin: 15px 0;
    }

}
@media (max-width:534px){
    .image-walpaper{
        max-width: 450px;
        width: 100%;
    }
}
@media (max-width:520px){
    .image-walpaper{
        margin: 0;
        max-width: 500px;
        width: 100%;
    }
    .walpaper-image-03{
        width: 100%;
    }
    .photo-box-01,
    .photo-box-image-02,
    .photo-box-image-03,
    .photo-box-02,
    .photo-box-03{
        max-width: 270px;
        width: 100%;
    }
    .photos-titile-h3{
        font-size: 25px;
    }
    
}
@media (max-width:420px){
    .block-title-par{
        max-width: 270px;
        width: 100%;
        font-size: 25px;
    }
   
}
@media (max-width:412px){
    .contact-left,
    .info-box-01{
        margin-right: 90px;
    }
    .section-01-title{
        font-size: 12px;
    }
    .left-p{
        font-size: 25px;
    }
}
@media (max-width:400px){
    .contact-left,
    .info-box-01{
        margin-right: 80px;
    }
}
@media (max-width:380px){
    .contact-left,
    .info-box-01{
        margin-right: 0px;
    }
   
    .box-01{
        max-width: 250px;
        width: 100%;
        margin-right: 30px;
    }
    .block-title-par{
        max-width: 250px;
        width: 100%;
        font-size: 25px;
    }
    .about-h2{
        font-size: 25px;
    }
    .about-p,
    .home-p{
        font-size: 12px;
    }
    .divider{
        height: 14px;
    }
    .contact-left{
        margin-right: 0px;
    }
    .form-title{
        max-width: 250px;
        width: 100%;
        font-size: 25px;
    }
    .photos-titile-h3{
        font-size: 15px;
    }
}