/* base classes */

.container {
    max-width: 1089px;
    width: 100%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}


/* base classes end  */


/* header section  */

.bg-image {
    background-image: url('../img/Group\ 72.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-navigation {
    justify-content: space-between;
    padding-top: 32px;
}

.logo-title {
    color: #fff;
    font-family: 'Poppins-bold';
    font-size: 14px;
}

.navbar {
    color: #fff;
    font-family: 'Poppins-medium';
    font-size: 12px;
    font-weight: 600;
}

.nav-li {
    margin-right: 60px;
    text-transform: uppercase;
}

.fa-bars {
    font-size: 30px;
    color: #fff;
    display: none;
}

.nav-li:first-child {
    color: #5863F8;
}

.nav-li:last-child {
    margin-right: 0px;
}

.about {
    margin-top: 96px;
}

.about-h2 {
    font-family: 'Poppins-bold';
    font-size: 42px;
    color: #fff;
    text-transform: capitalize;
}

.home-par {
    padding: 14px;
    padding-bottom: 90px;
}

.home-p,
.about-p {
    font-family: 'Poppins-medium';
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
}

.divider {
    width: 2px;
    height: 16px;
    background-color: #fff;
    margin: 0 15px;
}


/* header section end  */


/* section-01  */

.section-wrapper {
    margin-top: 128px;
    justify-content: space-between;
}

.section-01-left {
    max-width: 444px;
    width: 100%;
}

.section-01-title {
    color: #5863F8;
    font-family: 'Poppins-bold';
    font-size: 14px;
    text-transform: capitalize;
}

.left-p {
    font-family: 'Poppins-bold';
    font-size: 42px;
}

.left-block-p {
    font-family: 'Poppins-medium';
    font-size: 16px;
    padding: 10px 0;
}

.left-block-par {
    font-family: 'Poppins-regural';
    font-size: 14px;
}

.read {
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    margin-top: 20px;
    color: #fff;
    font-family: 'Poppins-regural';
    font-size: 14px;
    cursor: pointer;
}

.picture-box {
    max-width: 536px;
    width: 100%;
}

.imae-01 {
    margin-right: 15px;
}

.image-large {
    margin-top: 16px;
}


/* section-01 end  */


/* section -02  */

.section-02 {
    margin-top: 90px;
}

.bg-image-01 {
    background-image: url('../img/Group\ 13.png');
    height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-title-h3 {
    color: #5863F8;
    padding-top: 92px;
    text-transform: uppercase;
    font-family: 'Poppins-bold';
    font-size: 14px;
}


/* section -02 end  */