/* base classes */

.container {
    max-width: 1089px;
    width: 100%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/* base classes end  */


/* header section  */

.bg-image {
    background-image: url('../img/Group\ 72.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-navigation {
    justify-content: space-between;
    padding-top: 32px;
}

.logo-title {
    color: #fff;
    font-family: 'Poppins-bold';
    font-size: 14px;
}

.navbar {
    color: #fff;
    font-family: 'Poppins-medium';
    font-size: 12px;
    font-weight: 600;
}

.nav-li {
    margin-right: 60px;
    text-transform: uppercase;
}

.fa-bars {
    font-size: 30px;
    color: #fff;
    display: none;
}

.blue {
    color: #5863F8;
    font-family: 'Poppins-medium';
    font-size: 12px;
    font-weight: 600;
}

.nav-li:last-child {
    margin-right: 0px;
}

.about {
    margin-top: 96px;
}

.about-h2 {
    font-family: 'Poppins-bold';
    font-size: 42px;
    color: #fff;
    text-transform: capitalize;
}

.home-par {
    padding: 14px;
    padding-bottom: 90px;
}

.home-p,
.about-p {
    font-family: 'Poppins-medium';
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
}

.divider {
    width: 2px;
    height: 16px;
    background-color: #fff;
    margin: 0 15px;
}


/* header section end  */


/* section-01  */

.section-wrapper {
    margin-top: 128px;
    justify-content: space-between;
}

.section-01-left {
    max-width: 444px;
    width: 100%;
}

.section-01-title {
    color: #5863F8;
    font-family: 'Poppins-bold';
    font-size: 14px;
    text-transform: capitalize;
}

.left-p {
    font-family: 'Poppins-bold';
    font-size: 42px;
}

.left-block-p {
    font-family: 'Poppins-medium';
    font-size: 16px;
    padding: 10px 0;
}

.left-block-par {
    font-family: 'Poppins-regural';
    font-size: 14px;
}

.read {
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    margin-top: 20px;
    color: #fff;
    font-family: 'Poppins-regural';
    font-size: 14px;
    cursor: pointer;
}

.picture-box {
    max-width: 536px;
    width: 100%;
}

.imae-01 {
    margin-right: 15px;
}

.image-large {
    margin-top: 16px;
}


/* section-01 end  */


/* section -02  */

.section-02 {
    margin-top: 90px;
}

.bg-image-01 {
    background-image: url('../img/Group\ 13.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-wrappers {
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 90px;
}

.block-title-h3 {
    color: #5863F8;
    padding-top: 92px;
    text-transform: uppercase;
    font-family: 'Poppins-bold';
    font-size: 14px;
}

.block-title-par {
    font-family: 'Poppins-bold';
    font-size: 42px;
    width: 376px;
    color: #fff;
}

.box-01 {
    max-width: 260px;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blue-box-01 {
    width: 60px;
    height: 60px;
    background-color: #5863F8;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.box-01-p {
    width: 166px;
    font-family: 'Poppins-bold';
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.box-01-par {
    width: 221px;
    color: #B1B1B1;
    padding-top: 20px;
    padding-bottom: 26px;
    font-family: 'Poppins-medium';
    font-size: 14px;
}


/* section -02 end  */


/* section- 03  */

.section-03 {
    background-color: #F8F8F8;
}

.left-block-03 {
    padding-top: 76px;
    width: 512px;
}

.left-block-h3 {
    font-size: 14px;
    font-family: 'Poppins-bold';
    color: #5863F8;
}

.left-block-par-03 {
    font-size: 42px;
    font-family: 'Poppins-medium';
    font-weight: bold;
    width: 512px;
}

.image-03 {
    max-width: 583px;
    width: 100%;
}

.text-block-03 {
    margin-top: 30px;
}

.text-block-image {
    display: inline-block;
    vertical-align: middle;
}

.text-block-03-p {
    align-self: center;
    margin-left: 20px;
    font-family: 'Poppins-bold';
    font-size: 18px;
    display: inline-block;
}

.text-block-par-03 {
    font-family: 'Poppins-medium';
    font-size: 14px;
    padding-top: 20px;
    max-width: 352px;
    width: 100%;
}


/* section -03 end  */


/* section-04  */

.section-04 {
    margin-top: 90px;
}

.photos {
    font-family: 'Poppins-bold';
    font-size: 14px;
    color: #5863F8;
    text-transform: uppercase;
}

.photos-titile-h3 {
    font-family: 'Poppins-bold';
    font-size: 40px;
    width: 565px;
}

.photo-box {
    margin-top: 50px;
    justify-content: space-between;
}

.photo-box-image-01 {
    opacity: 0.6;
    transition: all 0.5s linear 0.5s;
}

.photo-box-image-01:hover {
    opacity: 1;
    transition: all 0.5s linear 0.5s;
    cursor: pointer;
}

.photo-box-02 {
    opacity: 0.6;
    transition: all 0.5s linear 0.5s;
}

.photo-box-02:hover {
    opacity: 1;
    transition: all 0.5s linear 0.5s;
    cursor: pointer;
}

.photo-box-image-03 {
    opacity: 0.6;
    transition: all 0.5s linear 0.5s;
}

.photo-box-image-03:hover {
    opacity: 1;
    transition: all 0.5s linear 0.5s;
    cursor: pointer;
}


/* section-04 end  */


/* section-05  */

.footer-section {
    background-color: black;
}

.wrapper-box-05 {
    padding-top: 90px;
    justify-content: space-between;
}

.section-box-01 {
    width: 260px;
}

.section-box-title {
    font-family: 'Poppins-bold';
    color: #fff;
}

.section-box-p {
    padding: 20px 0;
    font-family: 'Poppins-medium';
    font-size: 14px;
    color: #B1B1B1;
}

.fa-facebook {
    font-size: 30px;
    color: #3B5998;
    transition: all 0.2s linear 0.2s;
}

.fa-facebook:hover {
    background-color: #B1B1B1;
    cursor: pointer;
    border-radius: 25%;
}

.fa-twitter-square {
    font-size: 30px;
    color: #55ACEE;
    margin: 0 11px;
}

.fa-google-plus {
    font-size: 30px;
    color: #DC4E41;
}

.section-box-02 {
    width: 103px;
}

.section-box-title-h3 {
    font-family: 'Poppins-bold';
    font-size: 15px;
    color: #fff;
}

.blog-ul {
    margin-top: 20px;
}

.blog-li {
    padding-top: 10px;
}

.blog-a {
    color: #5863F8;
    font-family: 'Poppins-medium';
    font-size: 14px;
    text-transform: capitalize;
}

.footer-box-01 {
    width: 90px;
}

.carer-ul {
    padding-top: 20px;
}

.career-li {
    margin-top: 10px;
    color: #5863F8;
    font-family: 'Poppins-medium';
    font-size: 14px;
    text-transform: capitalize;
}

.footer-box-02 {
    width: 200px;
}

.footer-box-title-02 {
    font-family: 'Poppins-bold';
    color: #fff;
    font-size: 14px;
}

.footer-chhilde-ul {
    margin-top: 20px;
}

.footer-childe-li {
    color: #fff;
    padding-top: 20px;
    font-family: 'Poppins-medium';
    font-size: 14px;
}

.fa-envelope {
    color: #5863F8;
    font-size: 15px;
    margin-right: 14px;
}

.fa-phone-alt {
    color: #5863F8;
    font-size: 15px;
    margin-right: 14px;
}

.fa-map-marker-alt {
    color: #5863F8;
    font-size: 15px;
    margin-right: 14px;
}

.footer-box-title {
    font-family: 'Poppins-bold';
    font-size: 14px;
    color: #fff;
}

.footer-p {
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: 'Poppins-medium';
    font-size: 14px;
    color: #B1B1B1;
    cursor: pointer;
}

.Marian {
    color: #5863F8;
    font-family: 'Poppins-medium';
    font-size: 14px;
}


/* section-05 end  */


/* end index.html section  */


/* resauranet page  */


/* section-01 */

.rest-section-01 {
    margin-top: 90px;
}

.rest-section-wrapper {
    justify-content: space-between;
}

.rest-picture-box {
    max-width: 536px;
    width: 100%;
}

.rest-image-01 {
    margin-right: 16px;
}

.rest-image-02 {
    margin-bottom: 16px;
}

.rest-right-box {
    max-width: 444px;
    width: 100%;
    margin-top: 45px;
}

.rest-right-p {
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins-bold';
    text-transform: uppercase;
}

.rest-right-h3 {
    font-size: 42px;
    font-family: 'Poppins-bold';
}

.rest-box-par-01 {
    font-family: 'Poppins-medium';
    font-size: 16px;
    color: #000000;
    margin: 10px 0;
}

.rest-box-par-02 {
    font-family: 'Poppins-regural';
    font-size: 14px;
    color: #000000;
}

.btn {
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    color: #fff;
    margin-top: 20px;
    font-family: 'Poppins-regural';
    font-size: 14px;
    cursor: pointer;
}


/* section-01 end  */


/* section-02  */

.rest-section-02 {
    margin-top: 90px;
}

.rest-menu-title {
    margin-bottom: 50px;
}

.res-menu-p {
    color: #5863F8;
    font-family: 'Poppins-bold';
    font-size: 14px;
    text-transform: uppercase;
}

.rest-menu-h3 {
    font-size: 42px;
    font-family: 'Poppins-bold';
    width: 498px;
}

.rest-menu-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-box-01 {
    background-color: #F8F8F8;
    max-width: 536px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu-img {
    max-width: 168px;
    width: 100%;
}

.menu-box-p-01 {
    max-width: 260px;
    width: 100%;
    margin-top: 30px;
}

.menu-food {
    font-family: 'Poppins-bold';
    font-size: 14px;
    color: #5863F8;
    text-transform: uppercase;
}

.menu-h3-title {
    font-family: 'Poppins-bold';
    font-size: 18px;
    color: #000000;
}

.menu-text-p {
    font-family: 'Poppins-medium';
    font-size: 14px;
    color: #B1B1B1;
    margin-top: 10px;
}

.button {
    align-self: flex-end;
    width: 60px;
    height: 60px;
    background-color: #5863F8;
    cursor: pointer;
}

.btn-icon {
    font-size: 14px;
    color: #F8F8F8;
}


/* section-02 end  */


/* section-03  */

.rest-section-03 {
    margin-top: 90px;
    background-color: #F8F8F8;
}

.form-wrapper {
    padding-top: 53px;
    padding-bottom: 53px;
}

.warpper-form {
    justify-content: space-between;
}

.firs-form-box {
    max-width: 260px;
    width: 100%;
    flex-direction: column;
}

.input-first {
    width: 260px;
    height: 60px;
    border: 2px #EBEBEB solid;
}

.label-firs {
    color: #5863F8;
    font-family: 'Poppins-medium';
    font-size: 13px;
    margin-bottom: 5px;
}

.input-first::placeholder {
    color: #CECECE;
    padding-left: 20px;
    font-size: 13px;
}

.secend-form-box {
    flex-direction: column;
}

.label-second {
    color: #5863F8;
    font-family: 'Poppins-medium';
    font-size: 13px;
    margin-bottom: 5px;
}

.input-second {
    width: 260px;
    height: 60px;
    border: 2px #EBEBEB solid;
}

.input-second::placeholder {
    color: #CECECE;
    padding-left: 20px;
    font-size: 13px;
}

.theerd-form {
    flex-direction: column;
}

.therd-label {
    color: #5863F8;
    font-family: 'Poppins-medium';
    font-size: 13px;
    margin-bottom: 5px;
}

.therd-input {
    width: 260px;
    height: 60px;
    border: 2px #EBEBEB solid;
}

.therd-input::placeholder {
    color: #CECECE;
    padding-left: 20px;
    font-size: 13px;
}

.form-btn {
    width: 260px;
    height: 60px;
    border: 2px #EBEBEB solid;
    background-color: #5863F8;
    margin-top: 18px;
    color: #fff;
    font-family: 'Poppins-medium';
    text-transform: capitalize;
    font-size: 13px;
    cursor: pointer;
}


/* section-03 end  */


/* restaurant page end  */